.image-container {
    margin-bottom: 20px;
    padding-bottom: -6px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

.image-container:hover::after {
    box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.image-container:hover {
    transform: scale(1.04);
}

.image-hover-data {
    display: none;
}

.image-container:hover .image-hover-data {
    display: block;
}

.masonry-item-width {
    // - is 20*(rows-1)
    //@media screen and (min-width: $small) {
    //    ma: calc((90vw - (40px)) / 3);
    //}
    //@media screen and (min-width: $medium) {
    //    width: calc((90vw - (60px)) / 4);
    //}
    //@media screen and (min-width: $large) {
    //width: calc((90vw - (80px)) / 5);
    //}
    width: calc((80vw - (60px)) / 4);
}

.image-container-icon-button {
    z-index: 10;
    position: absolute;
    font-size: 24px;
    color: white
}

.profile-picture {
    width: 40px;
    height: 40px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: 10px;
    background-color: #f0f0f0;
    vertical-align: middle;
    font-size: 12vw;
    object-fit: cover;
    border-radius: 100%;
}

.selection-checkmark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: scale(5);
    color: white;
    opacity: 80%;
}

.selection-controller-container {
    width: 100%;
    height: 100%;
    margin-bottom: 3vh;
    margin-top: 1vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.selection-controller-button {
    margin-left: 2vw;
    transform: scale(2);
    display: block;
}

.selection-controller-button:hover {
    color: #575756;
}

.image-hold-container {
    position: absolute;
    height: -webkit-fill-available;
    width: 100%;
    background-color: rebeccapurple;
    top: 45px;
    bottom: 63px;
    z-index: 20;
    opacity: 0;
    cursor: pointer;
}

.image-hold-container-selection-on {
    position: absolute;
    background-color: rebeccapurple;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 20;
    opacity: 0;
    cursor: pointer;
}

.image-hold-container-top-left {
    position: absolute;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    right: 90px;
    background-color: rebeccapurple;
    bottom: calc(100% - 45px);
    z-index: 20;
    opacity: 0;
    cursor: pointer;
}
