.hidden {
    display: none;
}

.toolbar-row {
    display: flex;
    margin: 0 5vw 0 5vw;
    width: 90vw;
    padding: 0;
}

.default-mat-toolbar {
    width: 101vw;
    transform: translateX(-5vw);
    margin: 0;
    position: fixed;
    z-index: 1000;
}

.dashboard-mat-toolbar {
    position: absolute;
    background-color: transparent;

}

.searchbar-container {
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-element {
    margin: 0 10px 0 10px;
    font-size: 20px;
}

.dashboard-header-element {
    background-color: transparent;
    color: #F5F5F5;
    box-shadow: none !important;
}

.header-link {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
