.hidden {
    display: none;
}

.toolbar-row {
    display: flex;
    margin: 0 10vw 0 10vw;
    width: 80vw;
    padding: 0;
    justify-content: space-between;
}

#flex-group-one, #flex-group-two, #flex-group-three {
    display: flex;
    align-items: center;
    justify-content: center;
}

.default-mat-toolbar {
    width: 101vw;
    transform: translateX(-10vw);
    margin: 0;
    position: fixed;
    z-index: 1000;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dashboard-mat-toolbar {
    position: absolute;
    background-color: transparent;
    box-shadow: none !important;
}

.searchbar-container {
    margin: 0 40px 0 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header-element {
    margin: 0 10px 0 10px;
    font-size: 18px;
    font-weight: 400;
}

.dashboard-header-element {
    background-color: transparent;
    color: #F5F5F5;
    box-shadow: none !important;
    border: none !important;
}

.header-link {
    //box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.dashboard-logo {
    filter: invert(1)
}

.profile-dropdown {
    position: absolute;
    width: 100%;
    transform: translateX(-16px);
    background-color: #ffffff;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 0.5px solid #c8c8c8;
    overflow: auto;
}

.profile-dropdown-element {
    width: 100%;
    color: black !important;
    //text-align: left;
    //padding-left: 5px;
}
