<!--<mat-toolbar *ngIf="shouldHeaderBeShown()">-->
<mat-toolbar [class.dashboard-mat-toolbar]="dashboardHeader" class="default-mat-toolbar">
    <mat-toolbar-row class="toolbar-row">
        <!--        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
        <!--            <mat-icon>menu</mat-icon>-->
        <!--        </button>-->
        <span class="header-element" [class.dashboard-header-element]="dashboardHeader">My App</span>
        <a class="header-element header-link" [class.dashboard-header-element]="dashboardHeader"
           *ngFor="let page of pages" mat-stroked-button
           [class.hidden]="!shouldPageBeShown(page)"
           [routerLink]="page.route">
            <ng-container *ngIf="shouldPageBeShown(page)">
                {{page.name}}
            </ng-container>
        </a>
        <div class="searchbar-container">
            <app-searchbar *ngIf="!dashboardHeader"></app-searchbar>
        </div>
        <a class="header-element header-link" [class.dashboard-header-element]="dashboardHeader"
           style="margin-left: auto" *ngIf="shouldPageBeShown(profilePage)"
           mat-stroked-button
           [routerLink]="profilePage.route">Profile</a>
    </mat-toolbar-row>
</mat-toolbar>
