<!--<mat-toolbar *ngIf="shouldHeaderBeShown()">-->
<mat-toolbar [class.dashboard-mat-toolbar]="dashboardHeader" class="default-mat-toolbar">
    <mat-toolbar-row class="toolbar-row">
        <!--        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">-->
        <!--            <mat-icon>menu</mat-icon>-->
        <!--        </button>-->
        <span id="flex-group-one">
            <img src="/assets/logo2.png" width="64" height="64" alt="x" [class.dashboard-logo]="dashboardHeader"
                 class="header-element"
                 [class.dashboard-header-element]="dashboardHeader">
            <a class="header-element header-link" [class.dashboard-header-element]="dashboardHeader"
               *ngFor="let page of pages" mat-stroked-button
               [class.hidden]="!shouldPageBeShown(page)"
               [routerLink]="page.route">
                <ng-container *ngIf="shouldPageBeShown(page)">
                    {{page.name}}
                </ng-container>
            </a>
        </span>
        <span id="flex-group-two">
            <div class="searchbar-container">
                <app-searchbar *ngIf="!dashboardHeader && storageService.isLoggedIn()"></app-searchbar>
            </div>
        </span>
        <span id="flex-group-three">
            <a class="header-element header-link" [class.dashboard-header-element]="dashboardHeader"
               mat-stroked-button (click)="openImageUploadDialog()"
               [class.hidden]="!storageService.isLoggedIn()">
                <ng-container *ngIf="storageService.isLoggedIn()">
                    Upload
                </ng-container>
            </a>
            <a class="header-element header-link" [class.dashboard-header-element]="dashboardHeader"
               *ngIf="shouldPageBeShown(profilePage)"
               mat-stroked-button
               (click)="goToProfile($event)">
                {{authService.getCurrentUser().username}}
                <mat-icon #profileDropdownButton (click)="profileDropdownClick($event)">keyboard_arrow_down</mat-icon>
                <div #profileDropdownTab class="profile-dropdown" *ngIf="profileDropdownOpen">
                    <ng-container *ngFor="let profileTab of profileTabs">
                        <button mat-button class="profile-dropdown-element"
                                (click)="goToProfile($event,profileTab)">
                        {{profileTab | titlecase}}
                    </button>
                    <br>
                    </ng-container>
                    <button mat-button class="profile-dropdown-element"
                            (click)="profileDropdownOpen = false;authService.logout()">
                        Logout
                    </button>
                </div>
            </a>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
