<div class="content">
    <input type="file" id="upload" multiple style="display: none" (change)="filesUploaded($event)" alt=""/>
    <label for="upload" class="area" appDragDrop (files)="filesDropped($event)"></label>
    <div class="small-image-upload-preview-list">
        <div *ngFor="let image of images"
             matTooltip="{{getImageTagsString(image)}}"
             matTooltipPosition="below">
            <!--            <img src="{{image.imgB64}}" *ngIf="image.imgB64" class="small-image-upload-preview" alt="">-->
            <img src="{{uploadImagePlaceholder}}" *ngIf="image.imgB64"
                 class="shared-image-box-shadow small-image-upload-preview" alt="">
        </div>
    </div>
    <!--    <span *ngIf="imageUrl">{{image.name}}</span>-->
    <!--    <div style="width: 50%;">-->
    <!--        <mat-chip-list #chipList>-->
    <!--            <mat-chip *ngFor="let tag of image.tags">-->
    <!--                {{tag}}-->
    <!--                <button matChipRemove>-->
    <!--                    <mat-icon>cancel</mat-icon>-->
    <!--                </button>-->
    <!--            </mat-chip>-->
    <!--        </mat-chip-list>-->
    <!--    </div>-->
    <a mat-raised-button color="primary" class="open-upload-dialog-button" (click)="uploadButtonClick()">Upload</a>

</div>
