<div style="display: flex;justify-content: center;align-items: center">
    <div style="display: flex;justify-content: center;align-items: center;flex-direction: column ">
        <input type="file" id="upload" style="display: none" (change)="filesUploaded($event)" alt=""/>
        <label for="upload" class="area" appDragDrop
               [style.background-image]="'url('+'http://localhost:8080/auth/getProfileData/'+authService.getCurrentUser().id+')'"
               (files)="filesDropped($event)"></label>
        <div
            style="display: flex;justify-content: center;align-items: center;font-size: 28px;position: relative">{{user?.username}}
            <a style="position: absolute;left: 150%" mat-stroked-button>Edit profile</a>
        </div>
        <div
            style="display: grid;column-gap: 1vw;row-gap: 1vw;margin-top: 2vw;margin-bottom: 2vw;grid-template-columns: 4vw 0.1vw 4vw 0.1vw 4vw;">
            <div style="font-size: 20px;text-align: center">
                Images
            </div>
            <div class="profile-divider"></div>
            <div style="font-size: 20px;text-align: center">
                Views
            </div>
            <div class="profile-divider"></div>
            <div style="font-size: 20px;text-align: center">
                Likes
            </div>
            <div style="font-size: 20px;text-align: center">
                {{imageCount | async}}
            </div>
            <div class="profile-divider"></div>
            <div style="font-size: 20px;text-align: center">
                4.5K
            </div>
            <div class="profile-divider"></div>
            <div style="font-size: 20px;text-align: center">
                {{likeCount | async}}
            </div>
        </div>
        <div>
            <a mat-stroked-button (click)="logOut()">Logout</a>
        </div>
    </div>
</div>

<div style="height: 10vh;"></div>

<div style="display: flex;justify-content: center;align-items: center;width: fit-content" #profileTabSelector>
    <div>
        <button mat-flat-button (click)="tabButtonClick(tabs.IMAGES)">Images</button>
        <div [ngStyle]="activeTab == tabs.IMAGES?{'background-color':'#575756'} : {'background-color': '#eaeaea'}"
             class="tab-underline"></div>
    </div>
    <div>
        <button mat-flat-button (click)="tabButtonClick(tabs.COLLECTIONS)">Collections</button>
        <div [ngStyle]="activeTab == tabs.COLLECTIONS?{'background-color':'#575756'} : {'background-color': '#eaeaea'}"
             class="tab-underline"></div>

    </div>
    <div>
        <button mat-flat-button (click)="tabButtonClick(tabs.STATISTICS)">Statistics</button>
        <div [ngStyle]="activeTab == tabs.STATISTICS?{'background-color':'#575756'} : {'background-color': '#eaeaea'}"
             class="tab-underline"></div>

    </div>
</div>

<div>
    <div *ngIf="activeTab == tabs.IMAGES">
        <div class="tab-title">Your images</div>
        <app-image-masonry-list (loadImageData)="loadImageData()" [images]="images"
                                [userCollections]="collectionsValue"></app-image-masonry-list>
    </div>
    <div *ngIf="activeTab == tabs.COLLECTIONS">
        <div class="tab-title">Your collections</div>
        <!--        <div *ngFor="let collection of (collections | async)">-->
        <!--            <div>{{collection.name}}</div>-->
        <!--            <div *ngFor="let imageId of collection.imageIds">&nbsp;&nbsp;&nbsp;&nbsp;{{imageId}}</div>-->
        <!--        </div>-->
        <div class="collection-list-container">
            <div *ngFor="let collection of (collections | async)" class="collection-grid-tile shared-image-box-shadow"
                 routerLink="/collection/{{collection.id}}">
                <img *ngIf="collection.imageIds.length != 0" class="collection-image"
                     style="margin-bottom: -6px;"
                     [src]="'http://localhost:8080/image/getImageThumbnailData/'+collection.imageIds[0]">
                <img *ngIf="collection.imageIds.length == 0"
                     class="no-thumbnail-container" style="margin-bottom: -6px;"
                     [src]="'https://raw.githubusercontent.com/material-icons/material-icons/af0ed9c0e1276bad43c4d6ca8e8aaa283e425195/svg/image_not_supported/baseline.svg'">
                <div class="collection-name">{{collection.name}}</div>
                <div class="collection-image-data"></div>
            </div>
        </div>


    </div>
    <div *ngIf="activeTab == tabs.STATISTICS">
        IMPLEMENT PROFILE STATISTICS
    </div>
</div>
<div style="height: 80vh"></div>
