//Shamelessly stone from: https://codepen.io/mihaeltomic/pen/vmwMdm
.search {
    &__container {
        padding-top: 64px;
    }

    &__title {
        font-size: 22px;
        font-weight: 900;
        text-align: center;
        color: #ff8b88;
    }

    &__input {
        position: relative;
        width: 100%;
        padding: 12px 24px;
        user-select: none;

        background-color: transparent;
        transition: transform 250ms ease-in-out;
        font-size: 14px;
        line-height: 18px;

        color: #575756;

        border-radius: 50px;
        border: 1px solid #575756;
        backface-visibility: hidden;
        transform-style: preserve-3d;

        &::placeholder {
            color: black;
            text-transform: uppercase;
            letter-spacing: 1.5px;
        }

        &:focus {
            //padding: 12px 0px;
            //outline: 0;
            //border: 1px solid #575756;
            outline: none;
            //border-bottom: 1px solid #575756;
            //border-radius: 0;
            //background-position: 100% center;
        }
    }
}

.dashboard-searchbar {
    background-color: #F5F5F5;
}

.searchbar-container {
    width: 30vw;
    position: relative;
}

.dropdown-menu {
    position: absolute;
    width: 100%;
    max-height: 60vh;
    overflow: auto;
    background-color: #F5F5F5;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 10;
    transition: all 250ms ease-in-out;
    //border-left: 1px solid #575756;
    //border-right: 1px solid #575756;
    //border-bottom: 1px solid #575756;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
    top: 100%;
    left: 4%;
}

.dropdown-carousel {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow: auto;
}

.dropdown-carousel-item {
    //transform: rotate(90deg);
    //transform-origin: right top;
}

.dropdown-title {
    margin: 1vw 1vw 0 1vw;
}

.dropdown-carousel-image:hover {
    filter: brightness(0.7);
}

.dropdown-carousel-image {
    transition: 0.3s;
}

.user-image {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    margin: 20px;
    background-color: #e6e6e6;
    vertical-align: middle;
    font-size: 12vw;
    object-fit: cover;
    border-radius: 100%;
    transition: 0.3s;
}

.user-image:hover {
    filter: brightness(0.7);
}
