<div #searchbarContainer class="searchbar-container">
    <input class="search__input" id="search-input" type="text" placeholder="Search" (focus)="onSearchFocus()"
           (keydown.escape)="onEscape()"
           (input)="onInput()"
           (keyup)="onKeyUp($event)" [(ngModel)]="searchbarValue">
    <div *ngIf="this.searchbarInFocus" #dropdownMenu class="dropdown-menu" [@inOutAnimation]>
        <div class="dropdown-title" *ngIf="suggestions.length != 0">Tags</div>
        <div *ngIf="suggestions.length != 0" class="dropdown-tag-carousel">
            <app-tag class="dropdown-tag-carousel-item" *ngFor="let tag of suggestions" [width]="tagWidth"
                     [tagName]="tag.name"></app-tag>
        </div>
        <div class="dropdown-title">Previous searches</div>
        <div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <span>New year</span>
            &nbsp;&nbsp;
            <span>Winter</span>
            &nbsp;&nbsp;
            <span>Celebration</span>
        </div>
        <div class="dropdown-title">Popular collection</div>
        <div class="dropdown-tag-carousel">
            <app-tag class="dropdown-tag-carousel-item"
                     [width]="tagWidth" [tagName]="'Winter'"></app-tag>
            <app-tag class="dropdown-tag-carousel-item"
                     [width]="tagWidth" [tagName]="'Freezing'"></app-tag>
            <app-tag class="dropdown-tag-carousel-item"
                     [width]="tagWidth" [tagName]="'Snow'"></app-tag>
            <app-tag class="dropdown-tag-carousel-item"
                     [width]="tagWidth" [tagName]="'Autumn'"></app-tag>
        </div>
    </div>
</div>
