<div class="content" [class.hide]="loading">
    <div class="dialog-header">
        <span class="dialog-header-left">Author: Jhonh Smith</span>
        <span class="dialog-header-right">
      <button class="dialog-header-button mat-elevation-z8" mat-raised-button>Save to collection</button>
      <button class="dialog-header-button mat-elevation-z8" mat-raised-button
              (click)="downloadButtonClick()">Download</button>
      <button class="dialog-header-button mat-elevation-z8" mat-raised-button (click)="deleteImage()">Delete</button>
    </span>
    </div>
    <div class="image-view-main-content">
        <div style="width: 200px;"></div>
        <div class="image-container">
            <img class="image" [src]="'http://localhost:8080/image/getImageData/'+image.id"
                 alt="Failed to load image..."
                 (load)="onLoad()">
            <!--    <lib-ngx-image-zoom class="image" [fullImage]="'http://localhost:8080/image/getImageData/'+image.id" zoomMode="hover"-->
            <!--                        [thumbImage]="'http://localhost:8080/thumbnail/getThumbnailImageByImageId/'+image.id" (load)="onLoad()"-->
            <!--                        [enableScrollZoom]="true" [magnification]="0.2" [minZoomRatio]="0.2" [scrollStepSize]="0.3">-->

            <!--    </lib-ngx-image-zoom>-->
        </div>
        <div style="width: 200px;">
            <span style="font-size: 1vw;color: black">Tags:</span>
            <mat-chip-list #chipList>
                <mat-chip *ngFor="let tag of image.tags">
                    {{tag}}
                </mat-chip>
            </mat-chip-list>
        </div>
    </div>
    <pre style="color: black" [textContent]="getImagePropertiesAsString()"></pre>
    <mat-icon class="move-icon" style="left: 6vw" (click)="goLeft()">keyboard_arrow_left</mat-icon>
    <mat-icon class="move-icon" style="right: 6vw" (click)="goRight()">keyboard_arrow_right</mat-icon>

</div>

<div class="content" *ngIf="loading">
    <div class="dialog-header">
        <span class="dialog-header-left pulse" style="width: 5vw;height: 30px;"></span>
        <span class="dialog-header-right">
      <button class="dialog-header-button pulse" style="width: 5vw;height: 30px;"></button>
      <button class="dialog-header-button pulse" style="width: 5vw;height: 30px;"></button>
      <button class="dialog-header-button pulse" style="width: 5vw;height: 30px;"></button>
    </span>
    </div>
    <div class="image-container pulse" style="width: 40vw;height: 60vh">
    </div>
    <mat-icon class="move-icon" style="left: 6vw" (click)="goLeft()">keyboard_arrow_left</mat-icon>
    <mat-icon class="move-icon" style="right: 6vw" (click)="goRight()">keyboard_arrow_right</mat-icon>

</div>
