<div class="content" [class.hide]="loading">
    <div class="dialog-header">
        <span class="dialog-header-left">{{image.name}} by {{(owner | async)?.username}}</span>
        <span class="dialog-header-right">
            <!--TODO dialog not showing inside other dialog-->
            <!--      <button class="dialog-header-button" (click)="onAddToCollectionClickEvent($event)" mat-stroked-button>Save to collection</button>-->
            <span>
                    <div class="slider-container" *ngIf="authService.getCurrentUser().id == image.ownerId">
                        {{image.privacy}}
                        <mat-slide-toggle
                            style="margin-left: 1vw"
                            class="example-margin"
                            [checked]='image.privacy == "PUBLIC"'
                            (change)="privacyChanged()">
        </mat-slide-toggle>
    </div>
            </span>
      <button class="dialog-header-button" mat-stroked-button
              (click)="onFavouriteClickEvent($event)">
          <mat-icon
              *ngIf="!userCollections[0].imageIds.includes(image.id)">
                            star_border
          </mat-icon>
          <mat-icon
              *ngIf="userCollections[0].imageIds.includes(image.id)">star
          </mat-icon>
          Add to favourites
      </button>
      <button class="dialog-header-button" mat-stroked-button
              (click)="onAddToCollectionClickEvent($event)">Save to collection</button>
      <button class="dialog-header-button" mat-stroked-button
              (click)="downloadButtonClick()">Download</button>
      <button class="dialog-header-button" mat-stroked-button *ngIf="authService.getCurrentUser()?.id == image.ownerId"
              (click)="deleteImage()">Delete</button>
    </span>
    </div>
    <div class="image-view-main-content">
        <div
            style="width: 200px;display: flex;justify-content: center;align-items: center;font-size: 24px;flex-flow: column">
            <div style="margin-bottom: 1vw;">Views: {{imageViews | async}}</div>
            <div style="margin-bottom: 1vw;">Likes: {{imageLikes | async}}</div>
        </div>
        <div class="image-container">
            <img class="shared-image-box-shadow image" [src]="'http://localhost:8080/image/getImageData/'+image.id"
                 alt="Failed to load image..."
                 (load)="onLoad(true)">
            <!--            <div style="max-height: 70vh;max-width: 50vw;">-->
            <!--                <lib-ngx-image-zoom class="shared-image-box-shadow"-->
            <!--                                    style="max-height: 70vh;max-width: 50vw;position: relative;"-->
            <!--                                    (imagesLoaded)="onLoad($event)"-->

            <!--                                    [enableScrollZoom]=true-->
            <!--                                    [magnification]="1.2"-->
            <!--                                    [fullImage]="'http://localhost:8080/image/getImageData/'+image.id"-->
            <!--                                    [thumbImage]="'http://localhost:8080/image/getImageDataHalfRes/'+image.id"-->
            <!--                ></lib-ngx-image-zoom>-->
            <!--            </div>-->
        </div>
        <div style="width: 200px;">
            <app-image-tag-list [image]="image"></app-image-tag-list>
        </div>
    </div>
    <div
        style="font-size: 30px;display: flex;margin-bottom: 2vh;margin-top: 2vh">
        Similar images
    </div>
    <ngx-masonry #similarImageList style="width: 90%;margin-bottom: 2vh" [options]="options" [ordered]="true"
                 *ngIf="!loading">
        <ng-container>
            <div ngxMasonryItem *ngFor="let image of similarImages"
                 class="shared-image-box-shadow image-masonry-container masonry-item-width"
                 (click)="imageClicked(image)">
                <img class="masonry-item-width" style="margin-bottom: -6px;"
                     [src]="image.imgB64 | sanitizeImage" alt="X">
                <!--                <div class="image-hover-data"-->
                <!--                     style="position: absolute;bottom: 5px;left: 10px;color: white;z-index: 10">{{image.name | getNoExtensionName}}</div>-->
            </div>
        </ng-container>
    </ngx-masonry>
    <mat-list>
        <mat-list-item *ngFor="let prop of  getImagePropertyEntries()">{{prop[0]}}
            : {{prop[1]}}</mat-list-item>
    </mat-list>
    <mat-icon class="move-icon" style="left: 6vw" (click)="goLeft()">keyboard_arrow_left</mat-icon>
    <mat-icon class="move-icon" style="right: 6vw" (click)="goRight()">keyboard_arrow_right</mat-icon>

</div>

<div class="content" *ngIf="loading">
    <div class="dialog-header">
        <span class="dialog-header-left pulse rounded" style="width: 5vw;height: 30px;"></span>
        <span class="dialog-header-right">
<!--      <button class="dialog-header-button pulse rounded" style="width: 5vw;height: 30px;"></button>-->
      <button class="dialog-header-button pulse rounded" style="width: 5vw;height: 30px;"></button>
      <button class="dialog-header-button pulse rounded" style="width: 5vw;height: 30px;"></button>
    </span>
    </div>
    <div class="image-container pulse rounded" style="width: 40vw;height: 60vh">
    </div>
    <mat-icon class="move-icon" style="left: 6vw" (click)="goLeft()">keyboard_arrow_left</mat-icon>
    <mat-icon class="move-icon" style="right: 6vw" (click)="goRight()">keyboard_arrow_right</mat-icon>

</div>
