.content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.image-container {
    position: relative;
}

.image {
    position: relative;
    object-fit: scale-down;
    max-height: 70vh;
    max-width: 50vw;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}

.dialog-header {
    //background-color: black;
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dialog-header-left {
    color: black;
    margin-left: 15px;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.dialog-header-right {
    //background-color: rebeccapurple;
    margin-right: 15px;
}

.dialog-header-button {
    margin-left: 15px;
}

.image-view-main-content {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.move-icon {
    position: absolute;
    top: 50vh;
    transform: scale(4);
    transition: 0.1s;
    color: #FFFFFF;
}

.move-icon:hover {
    color: #d7d7d7;
    cursor: pointer;
    transform: scale(4.5);
}

.loading-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hide {
    display: none;
}

.masonry-item-width {
    width: calc((80vw * 0.9 - (85px)) / 4);
}

.image-hover-data {
    display: none;
}

.image-masonry-container {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-bottom: 20px;
    padding-bottom: -6px;
    transition: transform 100ms ease-in-out;
}

.image-masonry-container:hover::after {
    box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.image-masonry-container:hover {
    transform: scale(1.04);
}

.image-hover-data {
    display: none;
}

.image-masonry-container:hover .image-hover-data {
    display: block;
}
