<img id="dashboard-image" #dashboardImage src="http://localhost:8080/image/getImageData/63824fba3a8ccc43eb32eea6"
     alt="">
<div>
    <div style="height: 300vh;z-index: -1">
        <div style="width: 100%;height: 15vh;"></div>
        <div style="display: flex;justify-content: center;align-items: center;">
            <!--            TODO not centered, searchbar input padding -->
            <app-searchbar [dashboard]="true"></app-searchbar>
        </div>
        <app-header *ngIf="stickyHeader" class="dashboard-header"></app-header>
    </div>
</div>

