<img id="dashboard-image" #dashboardImage [src]="headerImageURL"
     alt="">
<div>
    <div style="height: 100%;z-index: -1">
        <app-header *ngIf="stickyHeader" class="dashboard-header"></app-header>
        <div class="dashboard-image-spacer"></div>
        <div style="display: flex;justify-content: center;align-items: center;">
            <!--            TODO not centered, searchbar input padding -->
            <app-searchbar [dashboard]="true"></app-searchbar>
        </div>
        <div class="dashboard-image-spacer"></div>
        <div class="dashboard-container-spacer"></div>
        <div
            class="dashboard-content-container"></div>
        <div class="dashboard-container-spacer"></div>
        <div
            class="dashboard-content-container"></div>
        <div class="dashboard-container-spacer"></div>
        <div
            class="dashboard-content-container"></div>
        <div class="dashboard-container-spacer"></div>
    </div>
</div>

