//.hidden {
//    display: none;
//}
//
//.header-element {
//    margin: 0 10px 0 10px;
//    height: fit-content;
//}
//
//.header-link {
//    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
//}
//
//#dashboard-header-container {
//    display: flex;
//    width: 100vw;
//    justify-content: space-between;
//    align-items: baseline;
//    flex-direction: column;
//    transform: translateX(-100px);
//}
//
//#dashboard-header-top-container {
//    width: 100%;
//    height: fit-content;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    align-self: baseline;
//}
//
//.searchbar-container {
//    margin: 0 40px 0 40px;
//    display: flex;
//    justify-content: center;
//    align-items: center;
//    height: fit-content;
//    width: 100%;
//}

#dashboard-image {
    object-fit: cover;
    //maybe for scrollbar
    //width: calc(100vw - 8px);
    width: 100vw;
    height: 60vh;
    position: absolute;
    top: -2vh;
    left: -10vw;
    filter: brightness(0.5);
}

.dashboard-header {
    position: fixed;
    z-index: 10;
    top: 0;
}

.dashboard-content-container {
    border-radius: 10px;
    width: 80vw;
    min-height: 40vh;
    height: fit-content;
    background-color: #F5F5F5;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    display: flex;
    padding: 0 2vw 0 2vw;
    justify-content: space-between;
    align-items: center;
    overflow: auto;

}

.dashboard-image-spacer {
    width: 100%;
    height: 20vh;
    //background-color: rgba(255, 139, 136, 0.5)
}

.dashboard-container-spacer {
    width: 100%;
    height: 15vh;
    //background-color: rgba(221, 255, 136, 0.5)
}

.similar-user-image:hover {
    filter: brightness(0.7);
}

.similar-user-image {
    transition: 0.3s;
}
