.app-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    overflow-x: hidden;
}

.app-body-container-container {
    width: 90vw;
    height: 100vh;
    position: relative;
}

.app-header {
}
