.app-body-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
}

.app-body-container-container {
    width: 90vw;
    margin-top: 2vh;
    height: 90vh;
    position: relative;
}

.app-header {
}
