<div class="container">
    <div class="auth-wrapper">
        <form class="form-register" [formGroup]="registerForm" (ngSubmit)="registerUser()">
            <h3 class="header">Register</h3>
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Username</mat-label>
                <input
                    type="username"
                    matInput
                    formControlName="username"
                    placeholder="Enter username"
                    required
                />
            </mat-form-field>
            <mat-form-field appearance="fill" class="form-group">
                <mat-label>Password</mat-label>
                <input
                    type="password"
                    formControlName="password"
                    matInput
                    required
                />
            </mat-form-field>
            <button style="float: right;width: 100%" type="submit" mat-stroked-button>Register
            </button>
        </form>
    </div>
</div>
