//-webkit-box-shadow: inset 0px 0px 43px 200px rgba(0, 0, 0, 0.3);
//box-shadow: inset 0px 0px 43px 200px rgba(0, 0, 0, 0.3);


.tag-image-container {
    display: flex;
    flex-direction: column;
    margin: 20px;
    cursor: pointer;
}

.tag-image-container:hover .image-bottom,
.tag-image-container:hover .image-top,
.tag-image-container:hover .image-bottom-last {
    filter: brightness(0.7);
}

.image-top {
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    transition: 0.3s;
    margin-bottom: 4px;
    object-fit: cover;
}

.image-bottom {
    position: relative;
    width: calc((100% - 16px) / 3);
    margin: 0 4px;
    transition: 0.3s;
    object-fit: cover;
}

.image-bottom:first-child {
    margin-left: 0;
    border-bottom-left-radius: 20px !important;
}

.image-bottom-last-container {
    position: relative;
    margin-left: 4px;
    transition: 0.3s;
    width: calc((100% - 16px) / 3);
    height: 100%;
    position: relative;
    border-bottom-right-radius: 20px !important;
}

.image-bottom-last {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: 0.3s;
    border-bottom-right-radius: 20px !important;
}

.image-bottom-container {
    display: flex;
    width: 100%;
    margin-top: 4px;
    position: relative;
}


.tag-name-container {
    overflow: hidden;
    max-width: 100%;
    border-radius: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 10px;
    min-height: 20px;
    font-weight: 500;
}

.image-count {
    position: absolute;
    color: white;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
