@import "src/styles";

#content {
    width: 95vw;
}


.skeleton-image-div {
    width: calc((90vw - (80px)) / 5);
    margin-bottom: 20px;
}

.open-upload-dialog-button {
    width: 4vw;
    height: 4vw;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    transition: 0.1s;
}

.open-upload-dialog-button:hover {
    color: #d7d7d7;
    transform: scale(1.1);
}

#tag-name {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 4vh;
    margin-top: 2vh;
}

#filter-sort-container {
    width: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    flex-direction: row;
}

.filter-sort-button {
    margin: 0 10px 0 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 7vw;
    overflow: auto;
}

#filter-tab {
    position: absolute;
    top: 100%;
    right: calc(7vw + 30px);
    background-color: #ffffff;
    z-index: 11;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border: 0.5px solid #c8c8c8;
    overflow: auto;
}

.filter-button {
    padding: 0 10px 0 10px;
    width: fit-content;
    overflow: auto;
}

#sort-tab {
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: #ffffff;
    z-index: 11;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 0.5px solid #c8c8c8;
    overflow: auto;

}

.sort-button {
    width: calc(7vw);
}

.image-search-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4vh;

}

.tag-chip {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tag-list {
    width: 100%;
    margin-left: 1vw;
}

.slider-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;
    width: 10vw;
}
