<div
    id="tag-name">{{tagName == 'all' ? '' : tagName}}</div>
<div id="filter-sort-container">
    <button #filterTabButton class="filter-sort-button" (click)="filterButtonClicked()" mat-raised-button>
        Filter
        <mat-icon>{{filterTabOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>

    </button>
    <div #filterTab id="filter-tab" *ngIf="filterTabOpen">
        <button mat-button class="filter-button">Some complicated</button>
        <br>
        <button mat-button class="filter-button">filter options</button>
    </div>
    <button #sortTabButton class="filter-sort-button" (click)="sortButtonClicked()" mat-raised-button>
        Sort
        <mat-icon>{{sortTabOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
    </button>
    <div #sortTab id="sort-tab" *ngIf="sortTabOpen">
        <button mat-button class="sort-button">
            Popular
            <mat-icon>trending_up</mat-icon>
        </button>
        <br>
        <button mat-button class="sort-button">
            Latest
            <mat-icon>access_time</mat-icon>
        </button>
        <br>
        <button mat-button class="sort-button">
            Name
            <mat-icon>sort_by_alpha</mat-icon>
        </button>
    </div>
</div>
<ngx-masonry [options]="options" [ordered]="true"
             infiniteScroll
             [infiniteScrollDistance]="0"
             (scrolled)="loadImageData()"
             [fromRoot]="true"
             [infiniteScrollContainer]="'.app-body-container'"
             [scrollWindow]="false">
    <ng-container *ngIf="images.length != 0">
        <div ngxMasonryItem *ngFor="let image of images" class="image-container masonry-item-width"
             (click)="openImageViewDialog(image)">
            <img class="masonry-item-width" style="margin-bottom: -6px;"
                 [src]="image.imgB64 | sanitizeImage" alt="X">
            <div class="image-hover-data"
                 style="position: absolute;bottom: 5px;left: 10px;color: white;z-index: 10">{{image.name | getNoExtensionName}}</div>
        </div>
    </ng-container>
    <!--        maybe only hide it if all imgs is loaded-->

    <!--    <ng-container *ngIf="loading">-->
    <!--        <div ngxMasonryItem class="skeleton-image-div pulse rounded" *ngFor="let height of skeletonHeights"-->
    <!--             [style.height.vh]="height">-->
    <!--            <div style="height: 100%;width: 100%" class="pulse rounded"></div>-->
    <!--        </div>-->
    <!--    </ng-container>-->

</ngx-masonry>

<a mat-fab color="primary" class="open-upload-dialog-button" (click)="openImageUploadDialog()">+</a>

