<div
    id="tag-name">{{tagName == 'all' ? 'Browse images' : tagName}}</div>
<div id="filter-sort-container">
    <button #filterTabButton class="filter-sort-button" (click)="filterButtonClicked()" mat-raised-button>
        Filter
        <mat-icon>{{filterTabOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>

    </button>
    <div #filterTab id="filter-tab" *ngIf="filterTabOpen">
        <button mat-button class="filter-button">Some complicated</button>
        <br>
        <button mat-button class="filter-button">filter options</button>
    </div>
    <button #sortTabButton class="filter-sort-button" (click)="sortButtonClicked()" mat-raised-button>
        {{getOrderByTypeString(batchImageRequest.requestOrderByType)}}
        <mat-icon>{{sortTabOpen ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}</mat-icon>
    </button>
    <div #sortTab id="sort-tab" *ngIf="sortTabOpen">
        <button (click)="selectOrderByType(orderByTypes.ALPHABETICAL)" mat-button
                class="sort-button">
            Alphabetical
            <mat-icon>sort_by_alpha</mat-icon>
        </button>
        <br>
        <button (click)="selectOrderByType(orderByTypes.POPULAR)" mat-button class="sort-button">
            Popularity
            <mat-icon>trending_up</mat-icon>
        </button>
        <br>
        <button (click)="selectOrderByType(orderByTypes.TIME)" mat-button class="sort-button">
            Upload date
            <mat-icon>access_time</mat-icon>
        </button>
    </div>
</div>
<app-image-masonry-list (loadImageData)="loadImageData()" [images]="images"
                        [userCollections]="userCollections"></app-image-masonry-list>


<a mat-fab color="primary" class="open-upload-dialog-button" (click)="openImageUploadDialog()">+</a>

