@import "src/styles";

#content {
    width: 95vw;
}

.image-container {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    margin-bottom: 20px;
    padding-bottom: -6px;
    cursor: pointer;
    transition: transform 100ms ease-in-out;
}

.image-container:hover::after {
    box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.image-container:hover {
    transform: scale(1.04);
}

.image-hover-data {
    display: none;
}

.image-container:hover .image-hover-data {
    display: block;
}

.masonry-item-width {
    // - is 20*(rows-1)
    //@media screen and (min-width: $small) {
    //    ma: calc((90vw - (40px)) / 3);
    //}
    //@media screen and (min-width: $medium) {
    //    width: calc((90vw - (60px)) / 4);
    //}
    //@media screen and (min-width: $large) {
    width: calc((90vw - (80px)) / 5);
    //}
}

.skeleton-image-div {
    width: calc((90vw - (80px)) / 5);
    margin-bottom: 20px;
}

.open-upload-dialog-button {
    width: 4vw;
    height: 4vw;
    position: fixed;
    bottom: 3vh;
    right: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    transition: 0.1s;
}

.open-upload-dialog-button:hover {
    color: #d7d7d7;
    transform: scale(1.1);
}

