.timeline-container {
    width: 50%;
    height: 100%;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 4vw;
}

.timeline-images-container {
    width: 50%;
    height: 100%;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.timeline-stick-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.timeline-stick {
    width: 0.2vw;
    height: 20vh;
    background-color: black;
}

.timeline-dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.timeline-dot {
    height: 24px !important;
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    transform: scale(1.5);
}

.timeline-data {
    width: 10vw;
    height: 10vw;
    position: absolute;
    background-color: #f3f3f3;
}

.timeline-data-left {
    transform: translateX(calc(-100% - 4vw)) translateY(-60%);
}

.timeline-data-right {
    transform: translateX(6vw) translateY(-60%);
}

.image-masonry-container {
    margin-bottom: 20px;
    padding-bottom: -6px;
    transition: transform 100ms ease-in-out;
}

.image-masonry-container:hover::after {
    box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    -webkit-box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    -moz-box-shadow: 1px 200px 80px -131px rgba(0, 0, 0, 0.6) inset, 1px -200px 80px -131px rgba(0, 0, 0, 0.6) inset;
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    width: 100%;
}

.masonry-item-width {
    width: calc((40vw - (2vw + 25px)) / 2);
}

.preview-image-container {
    width: 10vw;
    height: 10vw;
    object-fit: cover;
    border-radius: 10px;
    transition: 0.3s;
}

.preview-image-left {
    right: 1vw;
    bottom: -0vw;
    z-index: 3;
    transform: rotate(-4deg)
}

.preview-image-right {
    left: 1vw;
    bottom: -0vw;
    z-index: 1;
    transform: rotate(4deg);

}

.timeline-data:hover > div > .preview-image-left {
    right: 5vw;
    transform: rotate(-20deg);
    bottom: -1vw;
}

.timeline-data:hover > div > .preview-image-right {
    left: 5vw;
    transform: rotate(20deg);
    bottom: -1vw;
}

.timeline-data-date-left {
    position: absolute;
    transform: translateX(calc(-100% - 2vw)) translateY(-150%);
    font-size: 20px;

}

.timeline-data-date-right {
    position: absolute;
    transform: translateX(2.5vw) translateY(-150%);
    font-size: 20px;

}

.tab-title {
    margin: 2vw 0 2vw 2vw !important;
    font-size: 28px;
}

.timeline-data-container:hover > .timeline-dot > .timeline-dot-icon,
.timeline-data-container:hover > .timeline-data-date-right,
.timeline-data-container:hover > .timeline-data-date-left {
    filter: opacity(0.7);
}

.empty-tab-image {
    width: 20%;
    filter: opacity(0.5);

}
