<div
    class="collection-manager-container">
    <div style="width: 100%;margin-bottom: 3vh">Manage collections...</div>
    <table>
        <tr *ngFor="let collection of collections">
            <td class="collection-list-element">
                <mat-checkbox [checked]="shouldCheckBoxBeChecked(collection,image)"
                              style="margin-right: 1vw;"
                              (change)="collectionCheckBoxClicked(collection)"></mat-checkbox>
            </td>
            <td style="max-width: 10vw;overflow: hidden">
                {{collection.name}}
            </td>
        </tr>
        <tr (click)="startNewCollectionCreation()">
            <td class="collection-list-element">
                <mat-icon style="margin-right: 1vw;transform: scale(1.5)">add</mat-icon>
            </td>
            <td>
                Create new collection
            </td>
        </tr>
    </table>
    <form style="margin-top: 1vh;width: 100%" action="" *ngIf="isCreatingNewCollection">
        <mat-form-field style="width: 100%">
            <input matInput placeholder="Name" type="text" name="newCollectionName"
                   [(ngModel)]="newCollectionName" required autocomplete="off">
        </mat-form-field>
        <mat-form-field style="width: 100%">
            <mat-select name="newCollectionPrivacy" disableOptionCentering [(value)]="newCollectionPrivacy">
                <mat-option [value]="privacyOptions.PRIVATE">
                    Private
                </mat-option>
                <mat-option [value]="privacyOptions.PUBLIC">
                    Public
                </mat-option>
            </mat-select>
        </mat-form-field>
        <button style="float: right" (click)="createNewCollection()" mat-flat-button>Create</button>
    </form>
</div>
